/*                     */
/* All Across the Page */
/*                     */

@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.flask-output {
	color: white;
}

* {
	box-sizing: border-box;
	font-family: 'Cousine', monospace;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background: rgb(54,106,246);
	background: radial-gradient(circle, rgba(54,106,246,1) 0%, rgba(31,31,31,1) 100%);
}

/*          */
/* Titlebar */
/*          */

#titlebar {
	width: 100%;
	height: 100px;
	background: rgba(41, 41, 41, 0.6);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
}

#titlebar-logo {
	padding: 10px;
	width: 100px;
	height: 100px;
}

#titlebar-name {
	font-size: 1.5rem;
	color: white;
	padding: 25px;
}

/*      */
/* Chat */
/*      */

#content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 100px);
}

#chat {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	overflow-y: auto;
}

#chat-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 25px;
	width: 100%;
}

.bot-chat, .human-chat {
	padding: 10px;
	display: flex;
	align-items: center;
	width: 100%;
}

.bot-pfp, .human-pfp {
	width: 48px;
	height: 48px;
}

.bot-msg, .bot-msg-past, .human-msg {
	color: white;
	width: 100%;
	padding: 10px;
}

.human-msg {
	display: flex;
	justify-content: flex-end;
}  

/*              */
/* Typing Caret */
/*              */

#cursor {
	display: inline-block;
	position: relative;
	background-color: #FFF;
	height: 18px;
	top: 1px;
	width: 2px;
}

#cursor[blinking] {
	animation: blinking 850ms infinite;
}

@keyframes blinking {
	0% {opacity: 100%;}
	100% {opacity: 20%;}
}

/*                                 */
/* Bot Options (Choose from items) */
/*                                 */

.bot-options {
	display: flex;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.item-option {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #3c3f42;
	border-radius: 10px;
	padding: 10px;
	gap: 10px;
	margin-left: 10px;
}

.item-option-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.item-option-title {
	color: white;
	font-size: 18px;
	font-weight: bolder;
}

.item-details {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.item-details > * {
	color: white;
	text-align: center;
}

.item-option-image {
	width: 32px;
	height: 32px;
}

.item-label {
	font-weight: bolder;
}

/*               */
/* Shopping Cart */
/*               */

.shopping-cart {
	display: flex;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px;
	gap: 10px;
	border-radius: 10px;
	margin-left: 10px;
	background-color: #3c3f42;
}

#cart-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#cart-title {
	color: white;
	font-family: 'Cousine', monospace;
}

#cart-image {
	width: 32px;
	height: 32px;
}

.cart-items-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
}

.cart-item-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.cart-item-image {
	width: 32px;
	height: 32px;
}

.cart-item-name {
	font-family: 'Cousine', monospace;
	color: white;
	font-size: 1.2rem;
}

.cart-item-attr {
	font-family: 'Cousine', monospace;
	color: white;
	font-size: 1rem;
}

.cart-item-price {
	font-family: 'Cousine', monospace;
	color: lime;
}

.cart-discount, .cart-total {
	text-align: center;
	color: white;
	font-family: 'Cousine', monospace;
	font-size: 1.5rem;
	font-weight: bolder;
}

/*      */
/* Form */
/*      */

#chat-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 25px;
	gap: 10px;
}

#form-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#form-parameters {
	color: white;
	font-size: 14px;
}

#form-input {
	padding: 10px;
	border-radius: 5px;
	background-color: #3c3f42;
	outline: none;
	color: white;
	border: none;
}

#form-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	outline: none;
	border: none;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #3c3f42;
}

#form-submit-image {
	width: 20px;
	height: 20px;
}