<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Combo Menu</title>

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="static/images/favicons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="static/images/favicons/-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="static/images/favicons/-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="static/images/favicons/-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/-16.png">
	<link rel="apple-touch-icon" href="static/images/favicons/-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/-180.png">
	<!-- ****** faviconit.com favicons ****** -->

	<link rel="stylesheet" href="/static/index.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script defer src="/static/index.js"></script>
</head>
<body>
	<p class="flask-output">{{ message }}</p>
	<div id="titlebar">
		<img id="titlebar-logo" src="static/images/icons/logo.png">
		<span id="titlebar-name">Combo Menu Interface</span>
	</div>
	<div id="content">
		<div id="chat">
			<div id="chat-wrapper">
				<div class="bot-chat">
					<img class="bot-pfp" src="static/images/icons/computer.svg">
					<span class="bot-msg">Waiting...<span id="cursor" blinking></span></span>
				</div>
				<div class="human-chat" id="starter-human-chat">
					<span class="human-msg">PLACEHOLDER</span>
					<img class="human-pfp" src="static/images/icons/user.svg">
				</div>
			</div>
		</div>
		<form id="chat-form">
			<input id="form-input" type="text" placeholder="Type Here!">
			<button id="form-submit"><img id="form-submit-image" src="static/images/icons/send.svg"></button>
		</form>
	</div>
</body>
</html>