<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Combo Menu</title>

	<!-- ****** Thanks to: http://faviconit.com/en ****** -->
	<link rel="shortcut icon" href="static/images/favicons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="static/images/favicons/-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="static/images/favicons/-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="static/images/favicons/-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/-16.png">
	<link rel="apple-touch-icon" href="static/images/favicons/-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/-180.png">

	<link rel="stylesheet" href="/static/index.css">
	<script defer src="/static/index.js"></script>
</head>
<body>
	<!-- Flask outputs to JavaScript -->
	<p class="flask-output" id="flask-output">{{ flask_output }}</p>
	<p class="flask-output" id="flask-output-type">{{ flask_output_type }}</p>
	<p class="flask-output" id="flask-cart-prices">{{ flask_cart_prices }}</p>
	<p class="flask-output" id="flask-cart-total">{{ flask_cart_total }}</p>
	<p class="flask-output" id="flask-cart-sizes">{{ flask_cart_sizes }}</p>
	<p class="flask-output" id="flask-cart-types">{{ flask_cart_types }}</p>
	<p class="flask-output" id="flask-cart-names">{{ flask_cart_names }}</p>
	<p class="flask-output" id="flask-item-quantity">{{ flask_item_quantity }}</p>

	<div id="titlebar">
		<img id="titlebar-logo" src="static/images/icons/logo.png">
		<span id="titlebar-name">Combo Menu Interface</span>
	</div>
	<div id="content">
		<div id="chat">
			<div id="chat-wrapper">
				<!-- Individual chats -->
				<div class="bot-chat" active>
					<img class="bot-pfp" src="static/images/icons/computer.svg">
					<div class="bot-msg-wrapper" active>
						<span class="bot-msg" active>Waiting...<span id="cursor" blinking></span></span>
						<div class="bot-options">
							<div class="item-option">
								<div class="item-option-header">
									<img class="item-option-image" src="static/images/icons/sandwich.svg">
									<p class="item-option-title">Beef Sandwich</p> 
								</div>
								<div class="item-details">
									<div class="item-details-price">
										<p class="item-label">Price</p>
										<p class="item-price">$X.XX</p>
									</div>
									<div class="item-details-size">
										<p class="item-label">Size</p>
										<p class="item-size">PLACEHOLDER</p>
									</div>
									<div class="item-details-type">
										<p class="item-label">Type</p>
										<p class="item-type">PLACEHOLDER</p>
									</div>
									<div class="item-details-name">
										<p class="item-label">Name</p>
										<p class="item-name">PLACEHOLDER</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="human-chat">
					<span class="human-msg">PLACEHOLDER</span>
					<img class="human-pfp" src="static/images/icons/user.svg">
				</div>
				<!-- Shopping Cart (Appended later)-->
				<div class="shopping-cart">
					<div id="cart-header">
						<img id="cart-image" src="/static/images/icons/shopping-cart.svg">
						<h1 id="cart-title">Your Cart</h1>
					</div>
					<div id="cart-items-wrapper">
						<div class="cart-item-container">
							<img class="cart-item-image" src="/static/images/icons/sandwich.svg">
							<div class="cart-item-desc">
								<h1 class="cart-item-name">PLACEHOLDER</h1>
								<h2 class="cart-item-attr">Size: PLACEHOLDER</h2>
							</div>
							<h1 class="cart-item-price">$X.XX</h1>
						</div>
					</div>
					<hr>
					<div class="cart-footer">
						<p class="cart-discount">Discount: $X.XX</p>
						<p class="cart-total">Total: $X.XX</p>
					</div>
				</div>	
			</div>
		</div>
		<!-- Submit text to be reviewed by JavaScript and sent to Flask -->
		<form id="chat-form">
			<h3 id="form-parameters">PLACEHOLDER</h3>
			<div id="form-wrapper">
				<input id="form-input" type="text" placeholder="Type Here!">
				<button id="form-submit"><img id="form-submit-image" src="static/images/icons/send.svg"></button>
			</div>
		</form>
	</div>
</body>
</html>